.topnav {
    overflow: hidden;
    background-color: #0177a6;
    top: 0;
    margin: 5px;
    border-radius: 4px 4px 4px 4px ;
    min-height: 0px
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
}

.topnav a:hover {
    background: #ddd;
    color: black;
}

.topnav a.active {
    background: #ddd;
    color: black;
}

.tab-content {
    padding: 5px;
    height: 500px; /* Used in this example to enable scrolling */
    text-align: center;
    overflow: auto;
}

.dropdown{
    position: absolute;
    z-index: 1;
}

.dropdown-menu-item {
    color: black;
}

.span-position {
    position: absolute;
}

.dropdown-toggle {
    width: max-content;
}

.dropdown-menu>li>a {
    color: black !important;
    width: -webkit-fill-available !important;
    height: 39px !important;
    text-align: left !important;
    width: 158px !important;
    padding-top: 10px;
}

.dropdown-menu>li>a:hover {
    background: #ddd;
}

.dropdown-menu a.active {
    background-color: #ffc380;
}

.dropdown > ul > li{
    float: left;
    display: block;
    height: 100%;
    width: -webkit-fill-available;
}

.table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.th-name-si:hover{
   background-color:#f5f5f5; !important;
}

.icons-view-mode {
    height: 80%;
    width: 30%;
    vertical-align: bottom;
}